<div class="mycon" id="intro">
  <div class="introbox">

    <div class="intro-img-con">
      <%= image_tag "Homepage_bg_Island.png", class: "intro-ani", id: "island" %>
      <%= image_tag "Homepage_Title.png", class: "intro-ani", id: "title" %>
      <%= image_tag "wave.png", class: "intro-ani", id: "wave1" %>
      <%= image_tag "wave.png", class: "intro-ani", id: "wave2" %>
      <%= image_tag "wave.png", class: "intro-ani", id: "wave3" %>
    </div>

    <div class="cover">
    </div>

  </div>

</div>

<div class="mycon" id="block1">
  <div class="myrow-m">
    <div class="one-item">
      <div class="block1_intro"><p><br>「我們都是孤島，卻也同時座落在同片海洋。」<br></p></div>
    </div>
  </div>

  <div class="myrow-m">
    <div class="block1_line"></div>
  </div>

  <div class="myrow">

    <div class="two-item">
      <div class="block1_content">
        <p>&nbsp;&nbsp;&nbsp;凌晨一點,<br>
        &nbsp;&nbsp;&nbsp;我拖著疲憊的身子回到寢室,<br>
        &nbsp;&nbsp;&nbsp;大家都睡了。<br><br>
        &nbsp;&nbsp;&nbsp;漆黑一片的寢室，<br>
        &nbsp;&nbsp;&nbsp;只有我桌上的檯燈還亮著。<br><br>
        &nbsp;&nbsp;&nbsp;站在門邊望著遠處的書桌，<br>
        &nbsp;&nbsp;&nbsp;昏黃的燈光聚集，<br>
        &nbsp;&nbsp;&nbsp;像是一座孤島。</p>
      </div>
      <div class="block1_title1">
        <p><%= link_to '關於', '/pages/about#about-block1' %></p>
      </div>
    </div>

    <div class="two-item">
      <%= image_tag "Homepage_Icon_Island.png", class: "intro-img1" %>
    </div>
  </div>
</div>
<div class="mycon" id="block1_1">
  <div class="myrow">
    <div class="two-item">
      <div id="block1-1img">
        <div class="intro-img2">
          <%= image_tag "Logo_CreativeClub.png", style: "width: 100%" %>
        </div>
      </div>
    </div>
    <div class="two-item">
      <div class="block1_1_content">
        <p>&nbsp;&nbsp;&nbsp;孤獨  /<br>
        &nbsp;&nbsp;&nbsp;/ 群島<br>
        <br>
        &nbsp;&nbsp;&nbsp;當我們揚帆啟程，航向未知的遠方，<br>
        &nbsp;&nbsp;&nbsp;心理堅定的信念如北極星指引方向。<br>
        <br>
        &nbsp;&nbsp;&nbsp;「總是會找到夥伴的。」<br>
        &nbsp;&nbsp;&nbsp;因為每座島嶼，都屬於群島。</p>
      </div>
      <div class="block1_title2">
        <p><%= link_to '關於', '/pages/about#about-block2' %></p>
      </div>
    </div>
  </div>
</div>

<div class="mycon" id="block2">
  <div class="myrow-m">
    <div class="one-item">
      <div class="block_intro"><p>活&nbsp;動</p></div>
      <div class="block_subintro"><p>不同的島，不同的故事</p></div>
    </div>
  </div>

  <div class="myrow-m">
    <div class="one-item-n">

      <div class="list_box" id="list1">
        <div class="list_box_content">
          <div class="list_box_icontent">
            <p>那瞬間我才意識到，日常的風景出現雜訊。</p>
          </div>
        </div>
        <div class="list_box_img list_box_img_w">
          <%= image_tag "Homepage_Activity01.png" %>
        </div>
      </div>

      <div class="list_box" id="list2">
        <div class="list_box_content">
          <div class="list_box_icontent">
            <p> -- </p>
          </div>
        </div>
        <div class="list_box_img list_box_img_w">
          <%= image_tag "Homepage_Activity02.png" %>
        </div>
      </div>

      <div class="list_box" id="list3">
        <div class="list_box_content">
          <div class="list_box_icontent">
            <p>我們都是獨一無二的島。</p>
          </div>
        </div>
        <div class="list_box_img list_box_img_w">
          <%= image_tag "Homepage_Activity03.png" %>
        </div>
      </div>

      <div class="list_box" id="list4">
        <div class="list_box_content">
          <div class="list_box_icontent">
            <p>「談」</p>
          </div>
        </div>
        <div class="list_box_img list_box_img_w">
          <%= image_tag "Homepage_Activity04.png" %>
        </div>
      </div>

      <div class="list_box" id="list5">
        <div class="list_box_content">
          <div class="list_box_icontent">
            <p>Sing Alone, Sing Along <br>
            孤獨的人一起唱</p>
          </div>
        </div>
        <div class="list_box_img list_box_img_w">
          <%= image_tag "Homepage_Activity05.png" %>
        </div>
      </div>

      <div class="list_box" id="list6">
        <div class="list_box_content">
          <div class="list_box_icontent">
            <p> -- </p>
          </div>
        </div>
        <div class="list_box_img list_box_img_w">
          <%= image_tag "Homepage_Activity06.png" %>
        </div>
      </div>

      <div class="list_box" id="list7">
        <div class="list_box_content">
          <div class="list_box_icontent">
            <p>              
            長大並不可怕，可怕的是遺忘</p>
          </div>
        </div>
        <div class="list_box_img list_box_img_w">
          <%= image_tag "Homepage_Activity07.png" %>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="mycon" id="block3">
  <div class="myrow-m">
    <div class="one-item">
      <div class="block_intro"><p>周&nbsp;邊</p></div>
      <div class="block_subintro"><p>關於第一屆有點辛苦這樣的一個故事</p></div>
    </div>
  </div>

  <div class="mycon"  id="block3_under">
    <div class="myrow-m">
      <div class="one-item-n">
        <div class="list_box2_con">

          <!-- wide -->
          <% @products.each do |p| %>
            <%= link_to product_path(p.id) do %>
              <div class="list_box2">
                <div class="list_box2_img">
                  <% if p.image.thumb.url %>
                    <%= image_tag p.image.thumb.url, style: "width: 100%" %>
                  <% else %>
                    <%= image_tag 'test.jpg', style: "width: 100%" %>
                  <% end %>
                </div>
                <div class="list_box2_title"><p><%= p.title %></p></div>
              </div>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>

    <!-- small -->
    <% @products.each do |p| %>
      <%= link_to product_path(p.id) do %>
        <div class="list_box2_s">
          <div class="list_box2_s_title">
            <p><%= p.title %></p>
          </div>
          <div class="list_box2_s_arrow">
            <p>&lt;</p>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>

</div>

<div class="mycon" id="block4">

  <div class="myrow-m">
    <div class="one-item-n">
      <div class="block4_intro">
        <p>我想在這邊說一點點話<br>
        因為下面是花絮跟照片<br>
        ____________________</p>
      </div>
      <div class="one-item" >
        <div class="block_intro"><p>花&nbsp;絮</p></div>
        <% @gallery_images.each_slice(3) do |image_block|%>
          <div class="myrow">
            <% image_block.each_with_index do |gallery_image, i| %>
              <% if gallery_image.image.large.url %>
                <% if i == 2 %>
                  <div class="gallery2">
                    <%= image_tag gallery_image.image.large.url, alt: gallery_image.alt, class: "gallery-content" %>
                  </div>
                <% else %>
                  <div class="gallery1">
                    <%= image_tag gallery_image.image.large.url, alt: gallery_image.alt, class: "gallery-content" %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

