<div class="mycon" id="intro">
  <div class="introbox">

    <div class="intro-img-con">
      <%= image_tag "Homepage_bg_Island.png", class: "intro-ani", id: "island" %>
      <%= image_tag "img/Title.png", class: "intro-ani", id: "title" %>
      <%= image_tag "wave.png", class: "intro-ani", id: "wave1" %>
      <%= image_tag "wave.png", class: "intro-ani", id: "wave2" %>
      <%= image_tag "wave.png", class: "intro-ani", id: "wave3" %>
    </div>

    <div class="cover">
    </div>

  </div>

</div>

<div class="mycon" id="block1">
  <div class="myrow-m">
    <div class="one-item">
      <div class="block1_intro"><p><br>「我們都是孤島，卻也同時座落在同片海洋。」<br></p></div>
    </div>
  </div>

  <div class="myrow-m">
    <div class="block1_line"></div>
  </div>

  <div class="myrow">

    <div class="two-item">
      <div class="block1_content">
        <p>&nbsp;&nbsp;&nbsp;凌晨一點,<br>
        &nbsp;&nbsp;&nbsp;我拖著疲憊的身子回到寢室,<br>
        &nbsp;&nbsp;&nbsp;大家都睡了。<br><br>
        &nbsp;&nbsp;&nbsp;漆黑一片的寢室，<br>
        &nbsp;&nbsp;&nbsp;只有我桌上的檯燈還亮著。<br><br>
        &nbsp;&nbsp;&nbsp;站在門邊望著遠處的書桌，<br>
        &nbsp;&nbsp;&nbsp;昏黃的燈光聚集，<br>
        &nbsp;&nbsp;&nbsp;像是一座孤島。</p>
      </div>
      <div class="block1_title1">
        <p><%= link_to '關於', '/pages/about#about-block1' %></p>
      </div>
    </div>

    <div class="two-item">
      <%= image_tag "Homepage_Icon_Island.png", class: "intro-img1" %>
    </div>
  </div>
</div>
<div class="mycon" id="block1_1">
  <div class="myrow">
    <div class="two-item">
      <div id="block1-1img">
        <div class="intro-img2">
          <%= image_tag "Logo_CreativeClub.png", style: "width: 100%" %>
        </div>
      </div>
    </div>
    <div class="two-item">
      <div class="block1_1_content">
        <p>&nbsp;&nbsp;&nbsp;孤獨  /<br>
        &nbsp;&nbsp;&nbsp;/ 群島<br>
        <br>
        &nbsp;&nbsp;&nbsp;當我們揚帆啟程，航向未知的遠方，<br>
        &nbsp;&nbsp;&nbsp;心理堅定的信念如北極星指引方向。<br>
        <br>
        &nbsp;&nbsp;&nbsp;「總是會找到夥伴的。」<br>
        &nbsp;&nbsp;&nbsp;因為每座島嶼，都屬於群島。</p>
      </div>
      <div class="block1_title2">
        <p><%= link_to '關於', '/pages/about#about-block2' %></p>
      </div>
    </div>
  </div>
</div>


<!-- Jump out content -->

<div id="listJ-item1" class="jump-item">
	<div class="listJ-bottom">
		<div class="blockV"></div>
		<div class="blockH"></div>
	</div>

	<div class="myrow-m">
		<div class="list-content">
			<div class="list-content-title">
				<p>
				竹湖島 
				</p>
			</div>
			<div class="list-content-word">
				<p>
				打造交大科技感環繞之下難得的藝文夜景，裝置將依照參與者創造的內容與整體參與者的互動次數而改變。每晚，不同的景色相映而生。<br>
				<br>
				3/5~校慶結束 @竹湖中央<br>
				</p>
			</div>
		</div>
	</div>
</div>


<div id="listJ-item2" class="jump-item">
	<div class="listJ-bottom">
		<div class="blockV"></div>
		<div class="blockH"></div>
	</div>

	<div class="myrow-m">
		<div class="list-content">
			<div class="list-content-title">
				<p>
				孤獨展
				</p>
			</div>
			<div class="list-content-word">
				<p>
				「我們的孤獨不同，但我們同樣孤獨。」<br>
				<br>
				我們都在成為大人的路上，意識到漸漸膨脹的孤獨。<br>
				離開家鄉、在不同群體中游移......，這些生活經驗在孤獨的狀態下放大，轉化成各種情緒。無論是美好、自得、輕鬆，或是落寞、哀傷與恐懼，我們同樣是孤獨的人，為何卻從未察覺彼此？<br>
				<br>
				展期：3/6~3/17 <br>
				<br>
				房間＠工二旁草坪<br>
				森林@竹軒旁矩陣林<br>
				城市@浩然旁大樓梯<br>
				</p>
			</div>
		</div>
	</div>
</div>


<div id="listJ-item3" class="jump-item">
	<div class="listJ-bottom">
		<div class="blockV"></div>
		<div class="blockH"></div>
	</div>

	<div class="myrow-m">
		<div class="list-content">
			<div class="list-content-title">
				<p>
				藝趣松｜Artathon
				</p>
			</div>
			<div class="list-content-word">
				<p>
				<b>Artathon= Art+ Marathon= 藝術創作版的黑客松</b><br>
				<br>
				參賽學生不限交大！<br>
				只要你在一定時間內，與團隊一起絞盡腦汁，將腦海中的創意構想呈現出來。<br>
				可能是一首歌、一支舞蹈、一支影片、一個包裝設計作品⋯<br>
				<br>
        ►►交大藝趣松 官方網站：<%= link_to 'http://bit.ly/2m8hWv1', 'http://bit.ly/2m8hWv1', target: '_blank' %> (比賽規則、企業題目與獎項公佈 請入內！)<br>
				►►報名時間：3/1~3/15（額滿為止，敬請把握）<br>
				►►決賽日：3/26<br>
				</p>
			</div>
		</div>
	</div>
</div>



<div id="listJ-item4" class="jump-item">
	<div class="listJ-bottom">
		<div class="blockV"></div>
		<div class="blockH"></div>
	</div>

	<div class="myrow-m">
		<div class="list-content">
			<div class="list-content-title">
				<p>
				島言島語：藝趣節刊物
				</p>
			</div>
			<div class="list-content-word">
				<p>
				島言島語，以圖文訴說每一座島上的故事。人們說：「新竹是座孤島，交大也是」。透過實地走訪新竹藝文單位、咖啡廳，深入與幾位現為藝文工作者的交大校友對談，我們以紙媒的形式將讓這份溫柔遞到你手中。<br>
				<br>
				3/5發行 <br>
				＠交大｜二餐小七、女二全家、十三舍全家、一餐萊爾富、華通書局<br>
				清大｜水木書苑、蘇格貓底二手書咖啡屋、小吃部小七<br>
				市區｜墨咖啡、小墊子絕版影像館、sofa story旅行生活空間、見域工作室、東門城之內<br>
				竹北｜顯經黑膠圖書館<br>
				</p>
			</div>
			<div class="list-content-title">
				<p>
				孤島一夢：藝文誌
				</p>
			</div>
			<div class="list-content-word">
				<p>
				文字是自私的，也是赤裸的。以孤島為名，我們寫作，我們分享。這似乎與信任和在乎有關，難得我們如此坦白。
				</p>
			</div>
		</div>
	</div>
</div>


<div id="listJ-item7" class="jump-item">
	<div class="listJ-bottom">
		<div class="blockV"></div>
		<div class="blockH"></div>
	</div>

	<div class="myrow-m">
		<div class="list-content">
			<div class="list-content-title">
				<p>
				文字轉蛋機——我的，寂寞拍賣師
				</p>
			</div>
			<div class="list-content-word">
				<p>
				還記得小時候，投入銅板、扭開蛋殼，雀躍地轉開裡面的驚喜嗎？凡參與投稿或透過其他專案連結，即可獲得轉蛋代幣一枚。這次又會有什麼等著你，我們一起期待！<br>
				<br>
				3/5~3/17 ＠女二餐廳、二餐<br>
				</p>
			</div>
		</div>
	</div>
</div>


<div id="listJ-item6" class="jump-item">
	<div class="listJ-bottom">
		<div class="blockV"></div>
		<div class="blockH"></div>
	</div>

	<div class="myrow-m">
		<div class="list-content">
			<div class="list-content-title">
				<p>
				劇舞團—— 孤獨寄生
				</p>
			</div>
			<div class="list-content-word">
				<p>
				你孤單嗎？你為什麼孤單？你知道孤單是什麼嗎？那你覺得，我孤單嗎？<br>
				<br>
				人們各自追尋著答案，就且讓我們用舞蹈和戲劇交織，親自複習自己的生命腳本，而故事未完待續。<br>
				<br>
				3/8   20:00  @活中2F聯誼聽<br>
				3/15 20:00  @科三中庭<br>
				3/22 20:00  @人社二與人社一之間的空地<br>
				＊雨備：活中2F聯誼廳<br>
				</p>
			</div>
		</div>
	</div>
</div>

<div id="listJ-item5" class="jump-item">
	<div class="listJ-bottom">
		<div class="blockV"></div>
		<div class="blockH"></div>
	</div>

	<div class="myrow-m">
		<div class="list-content">
			<div class="list-content-title">
				<p>開幕系列活動：音樂野台—— Sing Alone, Sing Along 孤獨的人一起唱</p>
			</div>
			<div class="list-content-word">
				<p>
				我們相約來到草地，放下手邊的訊息、撇開生活中的雜訊，讓音樂穿越耳際。聆聽，面對明日的勇氣。<br>
				<br>
				2/22 15:30 科幻電影座談-太空漫遊：後人類孤獨 @人社二 F326<br>
				3/5   13:00「孤獨的人一起唱」開幕音樂野台與市集 @浩然前廣場<br>
				＊下雨照常舉行<br>
				3/6   17:30 星空電影院 ＠浩然前廣場<br>
				17:30-   《雲端情人》<br>
				20:00-   《 2001太空漫遊》<br>
				＊雨備：浩然B1國際會議廳<br>
				</p>
			</div>
		</div>
	</div>
</div>

<div id="listJ-item8" class="jump-item">
	<div class="listJ-bottom">
		<div class="blockV"></div>
		<div class="blockH"></div>
	</div>

	<div class="myrow-m">
		<div class="list-content">
			<div class="list-content-title">
				<p>
				子夜享孤：深夜直播節目
				</p>
			</div>
			<div class="list-content-word">
				<p>
				連續三周，三種主題。邀請各領域的人來一窺孤獨的樣貌，聽眾也能即時留言回覆。你，就是特別來賓。<br>
				<br>
				每週二 晚間11點：議題討論 ＠藝趣節粉專<br>
				每週四 晚間11點：人物專訪 ＠藝趣節粉專<br>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- end of jump -->



<div class="mycon" id="block2">
	<div class="myrow-m">
		<div class="one-item">
			<div class="block_intro"><p>活&nbsp;動</p></div>
			<div class="block_subintro"><p>不同的島，不同的故事</p></div>
		</div>
	</div>

	<div class="myrow-m">
		<div class="one-item-n-l">

			<div class="list_box" id="list1">
				<div class="list_box_content">
					<div class="list_box_icontent">
						<p>那瞬間我才意識到，日常的風景出現雜訊。</p>
					</div>
				</div>
				<div class="list_box_img list_box_img_w">
					<%= image_tag "icn_island.png" %>
				</div>
			</div>

			<div class="list_box" id="list2">
				<div class="list_box_content">
					<div class="list_box_icontent">
						<p> -- </p>
					</div>
				</div>
				<div class="list_box_img list_box_img_w">
					<%= image_tag "icn_exhib.png" %>
				</div>
			</div>

			<div class="list_box" id="list3">
				<div class="list_box_content">
					<div class="list_box_icontent">
						<p>我們都是獨一無二的島。</p>
					</div>
				</div>
				<div class="list_box_img list_box_img_w">
					<%= image_tag "icn_thon.png" %>
				</div>
			</div>

			<div class="list_box" id="list4">
				<div class="list_box_content">
					<div class="list_box_icontent">
						<p>「談」</p>
					</div>
				</div>
				<div class="list_box_img list_box_img_w">
					<%= image_tag "icn_book.png" %>
				</div>
			</div>

			<div class="list_box" id="list5">
				<div class="list_box_content">
					<div class="list_box_icontent">
						<p>Sing Alone, Sing Along <br>
						孤獨的人一起唱</p>
					</div>
				</div>
				<div class="list_box_img list_box_img_w">
					<%= image_tag "icn_music.png" %>
				</div>
			</div>

			<div class="list_box" id="list6">
				<div class="list_box_content">
					<div class="list_box_icontent">
						<p> -- </p>
					</div>
				</div>
				<div class="list_box_img list_box_img_w">
					<%= image_tag "icn_dance.png" %>
				</div>
			</div>

			<div class="list_box" id="list7">
				<div class="list_box_content">
					<div class="list_box_icontent">
						<p>              
						長大並不可怕，可怕的是遺忘</p>
					</div>
				</div>
				<div class="list_box_img list_box_img_w">
					<%= image_tag "icn_gatcha.png" %>
				</div>
			</div>

			<div class="list_box" id="list8">
				<div class="list_box_content">
					<div class="list_box_icontent">
						<p>              
						深夜直播</p>
					</div>
				</div>
				<div class="list_box_img list_box_img_w">
					<%= image_tag "icn_stream.png" %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="mycon" id="block3">
	<div class="myrow-m">
		<div class="one-item">
			<div class="block_intro"><p>周&nbsp;邊</p></div>
			<div class="block_subintro"><p>敬請期待</p></div>
		</div>
	</div>

	<div class="mycon"  id="block3_under" style="display:none">
		<div class="myrow-m">
			<div class="one-item-n">
				<div class="list_box2_con">

					<!-- wide -->
					<% @products.each do |p| %>
						<%= link_to product_path(p.id) do %>
							<div class="list_box2">
								<div class="list_box2_img">
									<% if p.image.thumb.url %>
										<%= image_tag p.image.thumb.url, style: "width: 100%" %>
									<% else %>
										<%= image_tag 'test.jpg', style: "width: 100%" %>
									<% end %>
								</div>
								<div class="list_box2_title"><p><%= p.title %></p></div>
							</div>
						<% end %>
					<% end %>

				</div>
			</div>
		</div>

		<!-- small -->
		<% @products.each do |p| %>
			<%= link_to product_path(p.id) do %>
				<div class="list_box2_s">
					<div class="list_box2_s_title">
						<p><%= p.title %></p>
					</div>
					<div class="list_box2_s_arrow">
						<p>&lt;</p>
					</div>
				</div>
			<% end %>
		<% end %>

	</div>
</div>

</div>

<!--
<div class="mycon" id="block4">

	<div class="myrow-m">
		<div class="one-item-n">
			<div class="block4_intro">
				<p>我想在這邊說一點點話<br>
				因為下面是花絮跟照片<br>
				____________________</p>
			</div>
			<div class="one-item" >
				<div class="block_intro"><p>花&nbsp;絮</p></div>
				<% @gallery_images.each_slice(3) do |image_block|%>
					<div class="myrow">
						<% image_block.each_with_index do |gallery_image, i| %>
							<% if gallery_image.image.large.url %>
								<% if i == 2 %>
									<div class="gallery2">
										<%= image_tag gallery_image.image.large.url, alt: gallery_image.alt, class: "gallery-content" %>
									</div>
								<% else %>
									<div class="gallery1">
										<%= image_tag gallery_image.image.large.url, alt: gallery_image.alt, class: "gallery-content" %>
									</div>
								<% end %>
							<% end %>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>

	</div>
</div>
-->

<!-- donate Jump -->

<div id="listD-item1" class="jump-item">
	<div class="listJ-bottom">
		<div class="blockV"></div>
		<div class="blockH"></div>
	</div>

	<div class="myrow-m">
		<div class="list-content">
			<div class="list-content-title">
				<p>
				新竹風城 全新盛獻 - 竹湖暐順麗緻文旅
				</p>
			</div>
			<div class="list-content-word">
				<p>
				竹湖暐順麗緻文旅<br>
				鄰近交大及竹科<br>
				綠意庭園融入人文采風<br>
				溫暖木質打造舒適客房<br>
				設備完善的健身房和三溫暖<br>
				結合休閒、餐飲與會議功能<br>
				讓每位客人擁有最貼心尊榮的體驗<br>
				香氣從早餐Buffet開始 杭州經典菜 法式鄉村料理<br>
				透過味蕾帶您遨遊世界<br>
				入夜頂樓Sky Lounge<br>
				享受調酒師依您心情調配的飲品<br>
				從破曉的朝陽到深夜的月色<br>
				麗緻細心打造每一個細節 只為讓您盡興而歸<br>
        <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_fapIiN7KpE?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
				<a href="http://chuhu.landishotelsresorts.com/chinese-trad/index.php" target="blank">點擊連結到官網</a>
				</p>
			</div>
		</div>
	</div>
</div>


<div id="listD-item2" class="jump-item">
	<div class="listJ-bottom">
		<div class="blockV"></div>
		<div class="blockH"></div>
	</div>

	<div class="myrow-m">
		<div class="list-content">
			<div class="list-content-title">
				<p>
				泰山企業
				</p>
			</div>
			<div class="list-content-word">
        <h3>泰山企業成立契機</h3>
        <p>
　　泰山企業成立67年，有著30年仙草蜜製造背景，可說是這項傳統台式點心的專家。於台灣農業時代，是第一家把點心現代化、飲用包裝化的廠商，一直到現在，仍是持續推陳出新延伸不同食品種類的企業。現今面對競爭激烈的台灣飲料市場，泰山除了堅守「健康、食品安全把關」原則也致力於經營專屬副品牌，使產品可以讓消費者留下深刻印象。<br>
　　至於怎麼樣讓這一傳統甜點歷久不衰？泰山今年希望增加跟年輕人溝通的機會，除了電視廣告、商品新包裝、內容物仙草顆粒改良升級、加強仙草職人形象、推出文創商品。希望把傳統變潮牌，同時也致力創造更多仙草蜜的曝光率：仙草是華人界的點心，希望仙草蜜可以成為台灣的代表經典好物，結合台灣認同與本土文化，將仙草介紹給不同族群、不同世代的年輕人飲用。
        </p>
        <h3>泰山參與藝趣黑客松的動機與期待</h3>
        <p>
　　仙草蜜與交大土地公有著流傳已久的深刻淵源，今年是泰山第一次選擇把故事大聲說出來，希望有機會以泰山仙草蜜跟交大的特殊情感，做一份專屬交大的包裝設計，也期望仙草蜜不只陪伴交大學生安然度過每次考試，也可以在未來進入職場求財、求好運、保平安，讓交大學生畢業後只要看到土地公就會不由自主地聯想到仙草蜜。第一次參加這樣的比賽，泰山也是在做嘗試，好奇交大這樣非美工背景的人才，會有什麼樣的創意思考？
        </p>

        <h3>「我們都是孤島，卻也同時坐落在同片海洋」</h3>
        <p>
　　這句話對交大人或許很有共鳴：每個學生都是不同個體，卻可以成為一片美麗的海洋藍圖，為社會注入一股動能。延伸到社會，或許是一個互助、融合的概念：台灣是一個小島，但我們都是地球村的一部份，每個國家都有自己的責任與義務，「雖然我們很小，不代表我們不重要」泰山期許從交大出發，看見更多仙草蜜的可能。
        </p>
        <p>
        <%= image_tag 'taisun-interview02.JPG', width: '80%' %>
        </p>
	<p><b>泰山企業股份有限公司 行銷群<br>雷松清 副總經理</b></p>
	<br>
				<a href="http://www.taisun.com.tw/" target="blank">點擊連結到官網</a><br>
				</p>
			</div>
		</div>
	</div>
</div>

<div id="listD-item3" class="jump-item">
	<div class="listJ-bottom">
		<div class="blockV"></div>
		<div class="blockH"></div>
	</div>

	<div class="myrow-m">
		<div class="list-content">
			<div class="list-content-title">
				<p>
				文鼎科技
				</p>
			</div>
			<div class="list-content-word">
				<p>
				文鼎科技為全球字型及技術的領導廠商之一。<br>
				成立27年來，致力於各國語系字型的設計及字型相關技術的開發，提供企業及個人全方位字型解決方案—包含嵌入式字型、企業或一般個人使用字型、客製化字型設計或網頁字型…等，帶給使用者最佳的字型使用體驗。<br>
				<a href="http://www.arphic.com.tw/" target="blank">點擊連結到官網</a><br>
				</p>
			</div>
		</div>
	</div>
</div>


<div id="listD-item4" class="jump-item">
	<div class="listJ-bottom">
		<div class="blockV"></div>
		<div class="blockH"></div>
	</div>

	<div class="myrow-m">
		<div class="list-content">
			<div class="list-content-title">
				<p>
				宏齊科技
				</p>
			</div>
			<div class="list-content-word">
				<p>
				本公司主要從事半導體晶片、發光二極體封裝之研究開發設計、製造、測試及前項產品進出口貿易業務，屬於 LED 下游封裝產業。近年來由於個人通訊市場之快速成本，得具體積小、省電、使用壽命長及抗壓等功能之表面黏著型發光二極體獲得大量運用，舉凡手機、 PDA 與筆記型電腦等之發光源均已大量使用中。未來本公司計劃開發之新商品及服務仍以 SMD LED 之封裝技術為主軸。並以「成為全球 SMD LED 之技術領導廠商」及「成為 “ 光 ” 概念公司」自我期許。<br>
				<a href="http://www.harvatek.com/?lang=1" target="blank">點擊連結到官網</a><br>
				</p>
			</div>
		</div>
	</div>
</div>
<div id="listD-item5" class="jump-item">
	<div class="listJ-bottom">
		<div class="blockV"></div>
		<div class="blockH"></div>
	</div>

	<div class="myrow-m">
		<div class="list-content">
			<div class="list-content-title">
				<p>
				東碩資訊
				</p>
			</div>
			<div class="list-content-word">
				<p>
				創立於西元1983年，為全球著名專業之電腦週邊及無線消費性產品研發與生產製造商，擁有二十多年紮實且專業的經驗。頂尖的研發團隊不斷開發創新領先同業且令客戶滿意的產品，提供使用者各類產品專業的技術知識及支援服務。<br><br>

				東碩每年皆投資龐大的研發經費，在台北/昆山均設有技術研發中心，集結優秀研發人才進行高科技產品研發。在生產品質方面，大陸昆山及東莞廠通過ISO 9001及ISO14000國際認證；每件產品在出廠前皆須通過非常嚴謹的品質檢驗及測試控管，以確保品質的高水準。東碩資訊已擁有多家國際級的客戶，包括世界知名的ODM廠商、大型經銷商與通路商，以創新性設計的產品規劃提供客戶更多選擇及商機。目前極力開發的產品正迎合世界科技驅勢，其中以wireless無線傳輸周邊、3C產品以及IA等，皆是目前生產主力。<br><br>

				東碩在筆記型電腦擴充基座(Docking Station)的設計與製造實力，更為業界領先，代表了東碩在各類型輸入介面的整合能力。近幾年來更積極跨入消費性電子產品(Consumer Electronics)的領域，開發出如高畫質HDMI周邊系列產品、3D TV周邊產品、無線產品(WI-FI&amp;UWB)、DLNA無線音效產品，以及藍芽無線接收器(Bluetooth Dongle)等週邊裝置，研發成果及技術門檻與日俱增。<br><br>

				東碩資訊是採取主動出擊的行銷模式，提供國際大廠最佳的專業團隊服務。透過正派及永續的經營理念，提供客戶完整且多元化之產品線；並配合最快速與完善的銷售服務，藉以獲得眾多國際大廠的信賴並成為長期合作夥伴。<br>
				<a href="http://www.goodway.com.tw/tw/" target="blank">點擊連結到官網</a><br>
				</p>
			</div>
		</div>
	</div>
</div> 


<div id="listD-item6" class="jump-item">
	<div class="listJ-bottom">
		<div class="blockV"></div>
		<div class="blockH"></div>
	</div>

	<div class="myrow-m">
		<div class="list-content">
			<div class="list-content-title">
				<p>
				詠凌法律事務所
				</p>
			</div>
			<div class="list-content-word">
				<p>
				詠凌法律事務所除深具法律相關實務經驗外，同時也強調跨領域的知識整合，期能從全方位的角度考量，提供客戶整合性、符合商業實務之專業諮詢與解決方案；在兩岸企業的深度對話與合作上，亦提供客戶營運策略與及時有效的專業協助。<br>
				專業、創新、誠信，是詠凌法律事務所的宗旨：以各個面向的法律專業，竭誠地為客戶提供創新優質的解決方案，並確保方案在每一個階段之執行。我們相信，唯有法律專業、與創新、誠信兼顧，才能為顧客提供優質的法律服務。<br>
				<a href="http://www.ownlyn.com/index.php" target="blank">點擊連結到官網</a><br>
				</p>
			</div>
		</div>
	</div>
</div> 


<div id="listD-item7" class="jump-item">
	<div class="listJ-bottom">
		<div class="blockV"></div>
		<div class="blockH"></div>
	</div>

	<div class="myrow-m">
		<div class="list-content">
			<div class="list-content-title">
				<p>
				風潮音樂國際股份有限公司
				</p>
			</div>
			<div class="list-content-word">
				<p>
				為第一家投入國際獨立唱片產業的本土唱片公司，並成為新聞局主要諮詢顧問。2005年獲文建會遴選為十大文化創意產業之一，並著書介紹。所出版之優良作品連年獲得金鼎獎、金曲獎及美國獨立音樂獎、英國BBC世界音樂獎項肯定，2006年公司作品更榮獲入圍葛萊美獎，成為台灣第一家獲此殊榮的唱片公司，是國際業界認同台灣音樂產業的重要標竿。<br>
				<a href="http://store.windmusic.com.tw/zh/" target="blank">點擊連結到官網</a><br>
				</p>
			</div>
		</div>
	</div>
</div> 

<div id="listD-item8" class="jump-item">
	<div class="listJ-bottom">
		<div class="blockV"></div>
		<div class="blockH"></div>
	</div>

	<div class="myrow-m">
		<div class="list-content">
			<div class="list-content-title">
				<p>
				財團法人交大思源基金會
				</p>
			</div>
			<div class="list-content-word">
				<p>
				本會由各界熱心人士及校友齊心發起，於1994年成立，命名取自交大教育學生「飲水思源」之重要做人處事態度，並不忘感念母校的永恆信念。<br>
				本會重要任務與使命，是建立平台，凝聚校友力量挹注給交大，在本屆董事會的集思廣益下，訂出本會未來兩大策略主軸：<br><br>

				1.支持張懋中校長推動「偉大大學計畫」<br>
				包含：贊助交大提升軟實力計畫、國際學生招生及一條龍服務、贊助交大藝文活動、舉辦高中生科學創意大賽<br>

				2.「促進校園創業整合計畫」<br>
				舉辦校園創業競賽及促進相關產學活動。<br>

				本會網址：www.spring.org.tw<br>
				電 話：03-5725931<br>
				辦公室位址：交大光復校區浩然圖書館B1<br>
				</p>
			</div>
		</div>
	</div>
</div> 

<!-- end of jump -->


<div class="mycon" id="block7">
	<div class="myrow-m">
		<div class="one-item" id="donate-topic">
			<div class="new-block_intro"><p>合&nbsp;作&nbsp;夥&nbsp;伴</p></div>
		</div>
	</div>

	<div class="myrow-m">
		<div class="one-item-d">
			<div class="donate-topic">
				<p>贊助</p>
			</div>
		</div>
		<div class="one-item-d">
			<div class="list_box_donate" id="donate1">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/01_diamond/hotel.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate" id="donate2">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/01_diamond/TaiShan.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate" id="donate3">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/01_diamond/Ding.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/02_platinum/TsingTao_Beer_2015.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/02_platinum/V.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/02_platinum/header_logo_01.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate">
				<div class="list_box_img" id="donate5">
      				<%= image_tag "donate/01/03_gold/Good.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/03_gold/H.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/03_gold/noodle.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/04_silver/BAG%20TO%20YOU百達遊_logo.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate" id="donate6">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/04_silver/Law.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate" id="donate7">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/04_silver/Music.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/04_silver/Play.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/04_silver/Tico.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/04_silver/KUSTIE中文LOGO-01.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/04_silver/LOGO%20219c.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/04_silver/SHINETREE%20LOGO-01.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/04_silver/Zalora-logo-black.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/04_silver/unnamed.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/04_silver/下載.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/05_copper/Emblem_of_Democratic_Progressive_Party_(new).svg.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate">
				<div class="list_box_img" >
      				<%= image_tag "donate/01/05_copper/homeLogo.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate" id="donate4">
			</div>

		<div class="one-item-d">
			<div class="donate-topic">
				<p>指導</p>
			</div>
		</div>

		<div class="one-item-d">
			<div class="list_box_donate">
				<div class="list_box_img" >
      				<%= image_tag "donate/02/activity.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate">
				<div class="list_box_img" >
      				<%= image_tag "donate/02/arch.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate">
				<div class="list_box_img" >
      				<%= image_tag "donate/02/art.jpg", style: "width: 100%" %>
				</div>
			</div>

		</div>

		<div class="one-item-d">
			<div class="donate-topic">
				<p>協辦</p>
			</div>
		</div>

		<div class="one-item-d">
			<div class="list_box_donate">
				<div class="list_box_img" >
      				<%= image_tag "donate/03/yeegogo.jpg", style: "width: 100%" %>
				</div>
			</div>
			<div class="list_box_donate" id="donate8">
				<div class="list_box_img" >
      				<%= image_tag "donate/03/gogo.jpg", style: "width: 100%" %>
				</div>
			</div>


		</div>
	</div>
</div>

